*.json
*.out
*.ii
*.o


hw13/binary_tree
hw13/logger
hw13/test
hw10/test.cpp
hw14/08
hw14/10.08
hw14/10.10
hw14/all_timing
hw14/test
hw15/comp
hw15/lcs
hw13/test.cpp
hw14/test.cpp
hw12/pow.cpp
17. Algoritms on ranges (1)/12.06 \[20\] Advanced Visitors/roots
